[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=auto-logout
Comment=Automatically logout idle session
Exec=/usr/bin/auto-logout
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
